*.[oa]
*~
*.m.cc
*UI.h
generate-bitmask-images/generate-bitmask-images
generate-circuit/generate-circuit
mschem/mschem
sview/sview
mview/mview
logx/logx
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
libdie/die_autogen
logx/logx_autogen
mschem/mschem_autogen
mview/mview_autogen
sview/sview_autogen
generate-bitmask-images/generate-bitmask-images_autogen
generate-circuit/generate-circuit_autogen
